p {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 22px;
}

.center {
  width: 1100px;
  margin: 0 auto;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 0px #282828, 0px -8px 0px #282828;
  background-color: #b8bdc4;
}

#navbar > li {
  color: #647489;
  float: right;
  margin: 20px;
  margin-top: 45px;
  font-size: 20px;
}

#logo {
  margin-left: 30px;
  margin-top: 1%;
}

.banner {
  width: 1100px;
  height: 370px;
  margin-top: -15px;
  background: linear-gradient(to bottom, #336699 0%, #009999 100%);
}

.banner > img {
  float: left;
  margin-left: 30px;
  margin-top: 20px
}

.banner {
  color: white;
}

#bannermain {
  float: right;
  margin-right: 100px;
}

.banner > p {
    float: right;
    margin-right: 100px;
}
